@import 'variables';

html {
  font-size: @base-font-size;
}

body {
  font-family: @font-family;
  font-size: 1em;
  background-color: @gray;
  color: @text-color;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

p {
  font-size: 1.3em;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ededed;
  text-align: center;
  padding: 40px;
}

header {
  background-color: #fff;
}

main {
  background-color: #fff;
}

hr {
  margin: 2px;
}

img {
  /*display: block;*/
  position: relative;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 15px;
  /*float: ;*/
  position: relative;
  top: -90px;
}

header article h1 {
  font-size: 2.4em;
  margin-top: 0;
}

h2 {
  font-size: 2em;
  text-align: left;
  color: #363636;
  margin-top: 0px;
  padding: 20px;
}

h3 {
  font-size: 1.8em;
  text-align: left;
}

main p {
  text-align: left;
  padding: 20px;
}

table {
  border-collapse: separate;
  border-spacing: 20px 20px;
}

table td p {
  text-align: left;
  padding: 0;
}

.td_left {
  text-align: left;
  vertical-align: top;
}

.td_right {
  background-color: #ededed;
}

table tr h3 {
  margin-top: 0;
  margin-bottom: 0;
}
